
/* HomeFlexSlider Default Theme
*********************************/
.homeflexslider {position: relative; zoom: 1; clear:both; overflow: hidden}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport {max-height: 300px;}
.homeflexslider .slides {zoom: 1;}
.homeflexslider .slides .flex-active-slide{z-index:100 !important;}
.homeflexslider .slides li {text-align: center; position: relative; z-index:-100 !important;}
.homeflexslider-container {position:relative;}
.carousel li {margin-right: 5px;border: 0}

.flex-caption {
  margin:0;
  width: 100%;
  position: absolute;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}






/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a {z-index:200 !important; width: 80px; height: 80px; margin: -20px 0 0; display: block; z-index: 10; position: absolute; top: 50%; cursor: pointer; opacity: 0; -webkit-transition: all .3s ease; transition: all .3s ease; color: #fff !important; text-shadow: 0 0 1px #000; font-size: 55px; }
.flex-direction-nav .flex-next {background-position: 0 -120px; right: -36px; text-align: center; }
.flex-direction-nav .flex-prev {background-position: 0 -60px; left: -36px; text-align: center;}
.homeflexslider:hover .flex-next {opacity: 0.8; right: 15px;}
.homeflexslider:hover .flex-prev {opacity: 0.8; left: 15px;}
.homeflexslider:hover .flex-next:hover, .homeflexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3 !important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
  position: absolute;
  bottom: 4%;
  text-align:center;
  width: 100%;
  z-index: 100;
}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {
  width: 6px;
  height: 6px;
  display: inline-block;
    cursor: pointer;
  text-indent: -9999em;
  background: #fff;
  border: 1px solid transparent;
  color: #fff;
  margin: 8px;
  overflow: hidden;
  -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.flex-control-nav li a.flex-active, .flex-control-nav li a:hover {
  border: 1px solid #fff;
  background: transparent;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.flex-control-thumbs {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-thumbs li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}

.flex-control-thumbs {position: static; overflow: hidden;}
.flex-control-thumbs li, .flex-control-thumbs li:first-child {width: 16%; vertical-align: top; margin: 15px 5% 0 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.product_slider .flex-active-slide a:hover {cursor: -webkit-zoom-in; cursor: -moz-zoom-in;}
.product_slider, .product_slider .flex-viewport { margin-bottom: 1em }
.product_slider .slides img {
  max-height: 700px;
}

.thumbnail_position--left-thumbnails, .thumbnail_position--right-thumbnails {
  .flex-control-thumbs {
    width: 16%;
    margin: 0 auto;
    margin-bottom: 15px;
    li {
      width: auto;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .product_gallery > .slides, .flex-viewport {
    width: 80%;
  }
}

.thumbnail_position--left-thumbnails {
  .product_gallery > .slides, .flex-viewport {
    float: right;
  }
  .flex-control-thumbs {
    float: right;
    margin-right: 4%;
  }
}

.thumbnail_position--right-thumbnails {
  .product_gallery > .slides, .flex-viewport {
    float: left;
  }
  .flex-viewport {
    float: left;
  }
  .flex-control-thumbs {
    float: left;
    margin-left: 4%;
  }
}


.thumbnail_position--none, .thumbnail_position--bottom{
  .flex-control-thumbs li:nth-child(5n) {margin: 15px 0 0; }
}
/* MTP Change from 10px margin-top */
.homepage_slider, .header_banner {
  position: relative;
  z-index: 0;
  margin-top: 0; 
}

.homepage_slider .slides img.lazyloaded {
  width: 100%;
}

.header_banner {
  margin-bottom: 25px;
}
.flex-caption {
  pointer-events: none;
  .action_button {
    pointer-events: all;
  }
}



.homepage_slider .slides > li:first-of-type {display: block }
.homepage_content {
  padding: 10px 0;
  .action_button {
    display: inline;

    @include respond-to('medium'){
      display: block;
    }
  }
}
.index-sections .image-with-text-overlay-section:last-child {
  margin-bottom: 0;
}

#grid .column,
  #grid .columns {
    background: #ddd;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
     border-radius: 2px; }
#grid .column:hover,
  #grid .columns:hover {
    background: #bbb;
    color: #333; }
#grid .example-grid { overflow: hidden; }