<ion-header>
  <ion-navbar color="secondary">
      <ion-title>
          Delivery Request
      </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides #deliverySlider >
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <strong>Request Delivery</strong>
        </ion-card-header>
        <ion-card-content>
          Fill a Delivery Request Form by clicking the next button.<br>
          <p>We Will Get In Touch</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
      <br />      <ion-list no-lines>
        <form [formGroup]="slideOneForm">
          <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input required formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
          </ion-item>
          <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
          </ion-item>
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input  [(ngModel)]="sender" formControlName="email" type="email" [class.invalid]="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!slideOneForm.controls.email.valid  && (slideOneForm.controls.email.dirty || submitAttempt)">
            <p>Please enter a valid email.</p>
          </ion-item>
          <ion-item>
            <ion-label floating>Phone Number</ion-label>
            <ion-input formControlName="phone" type="text" [class.invalid]="!slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.phone.valid  && (slideOneForm.controls.phone.dirty || submitAttempt)">
            <p>Please enter a valid phone number.</p>
          </ion-item>
        </form>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <br />   <ion-list no-lines>

        <form [formGroup]="slideTwoForm">

          <ion-item>
            <ion-label floating> Pick Up Address</ion-label>
            <ion-input formControlName="pickupAddress" type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating> Delivery Address</ion-label>
              <ion-input formControlName="destinationAddress" type="text"></ion-input>
          </ion-item>

          <ion-list-header>
             Item Specifications
          </ion-list-header>
          <ion-item>
            <ion-label>Weight in Kg</ion-label>
            <ion-input placeholder="Leave Blank if unsure" formControlName="weight" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Item size</ion-label>
            <ion-input placeholder="Leave Blank if unsure" formControlName="size" type="number"></ion-input>
          </ion-item>
        </form>

      </ion-list>
    </ion-slide>
    <ion-slide>

      <ion-list no-lines>

        <form [formGroup]="slideThreeForm">
          <ion-item>
            <ion-label floating>Date and time of first service</ion-label>
            <ion-datetime formControlName="pickupDate" displayFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label floating>Notes</ion-label>
              <ion-textarea elastic formControlName="notes"></ion-textarea>
           </ion-item>
        </form>
      </ion-list>

      <button ion-button full color="secondary" (click)="send(sender)">Submit!</button>

    </ion-slide>
  </ion-slides>

</ion-content>